@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-family: Merriweather, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  font-size: 1.125em; /*18 /16 = 1.125*/
  line-height: 1.55555em; /*28 /18 =1.55555em */
  padding: 1.55555em; /*28 /18 =1.55555em */
  background-color: #b1b3b5;
}
fieldset{
  border-color: transparent;
}

#content {
  border-color: transparent;
  background-color: #c3c5c7
}

h1 {
  font-size: 1.333333em; /*24/18= 1.333333em*/
  font-weight: bold;
  padding-top: 1em; /*18/18=1*/
  padding-bottom: 1em; /*18/18=1.555 */
}

label {
  display: block;
  padding-bottom: 0.5em; /*9/18=0.5em */
}

li {
  padding-bottom: 1em; /*18/18=1em */
}

[type="date"] {
  padding-bottom: 0.5em; /*9/18=0.5em */
}

button, input {
  font-family: Merriweather, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  border-color: transparent;
  background-color: #8b8c8c;
  overflow: visible;
}

@media screen and (min-width: 336px) {
  #wrap {
    display: inline-block;
    justify-content: center;
  }
}

@media screen and (min-width: 580px) {
  html {
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
}

/*Maybe add media queries at: 336, 377, 380*/
